.red {
    color: red
}

.green {
    color: green;
}

.white {
    color: white;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
    font-size: 3em;
}

.pink {
    color: pink;
}

.blueviolet {
    color: blueviolet;
}

.blue {
    color: blue;
}

#divWithBack {
    padding: 25px;
    background-image: url(../imgs/back.jfif);
}

.one {
    background-color: red;
    opacity: 100%;
}

.two {
    background-color: red;
    opacity: 50%;
}

.three {
    background-color: red;
    opacity: 25%;
}

.four {
    background-color: red;
    opacity: 0%;
}

.Arial {
    font-family: Arial, Helvetica, sans-serif;
}

#overflowVisible {
    overflow: visible;
    width: 100%;
    height: 65px;
    background-color: orange;
}

#overflowHidden {
    overflow: hidden;
    width: 100%;
    height: 65px;
    background-color: black;
    color: white;
}

#overflowScroll {
    overflow: scroll;
    width: 100%;
    height: 65px;
    background-color: rgb(0, 81, 255);
    color: black;
}

#overflowAuto {
    overflow: auto;
    width: 100%;
    height: 65px;
    background-color: blueviolet;
}

#overflowXandY{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    width: 100%;
    height: 65px;
    background-color: green;
}